*{
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #102A43;
}
body{
    background-image: url(asset/BG.jpg);
    background-size: cover;
    /* opacity: .5; */
    overflow: hidden;
}

.container{
    background-color: hsla(194, 49%, 90%, 0.5);
    height: 100vh;
    box-shadow: 0 0 1rem #D9ECF2;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: auto; */
}

.container .navbar{
    background-color: rgba(250, 250, 250, 0.75);
    /* backdrop-filter: blur(10px); */
    width: 84%;
    border-radius: .5rem;
    position: fixed;
    top: 1rem;
    border: none;
    z-index: 1;
}
.container .navbar .collapse{
    box-sizing: border-box;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
}

.container .navbar  .navbar-nav{
    display: flex;
    align-items: center;
}

.container .navbar .navbar-nav h4{
    margin: .25rem;
    margin-bottom: .5rem;
    font-family: "Space Grotesk", sans-serif;
    /* line-height: 1rem; */
}

.container .navbar .navbar-nav .nav-link{
    padding: 0 .5rem;
    color: #102A43;
    font-size: 1rem;
    opacity: .75;
    transition: all .35s ease-in-out;
}

.container .navbar .navbar-nav .nav-link:hover{
    opacity: 1;
    font-weight: 500;
}

.container .navbar .navbar-nav .nav-link.active{
    color: #102A43;
    opacity: 1;
    font-weight: 500;

}

.container .navbar .CTA {
    display: flex;
    align-items: center;
}

.container .navbar .CTA .badge{
    background-color: #4FD1C5;
    border: none;
    border-radius: 100px;
    font-size: .85rem;
    padding: .25rem 1rem;
    font-weight: 500;
    margin: auto .5rem;
    line-height: 1.25rem;
    color: #fafafa;
    transition: all .35s ease-in-out;
}

.container .navbar .CTA .badge.services{
    background-color: #0D5D56;
    border: none;
    border-radius: 100px;
    padding: .25rem 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: auto .5rem;
    color: #fafafa;
    transition: all .35s ease-in-out;
}

.container .navbar .CTA .badge:hover{
   box-shadow: 0 0 8px #4FD1C5;
}

.container .navbar .CTA .badge.services:hover{
   box-shadow: 0 0 8px #0D5D56;
}

.container .main-content{
    position: relative;
    top: 5rem;
    width: 100%;
    height: calc(100vh - 6rem); /* navbar + spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.container .main-content {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* Edge */
}

.container .main-content::-webkit-scrollbar {
    width: 0;                   /* Chrome/Safari */
}

.title{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    /* color: #102A43; */
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
}

.title h5 i{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
}

.title h1 span{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    color: #0D5D56;
}

.container .main-content .hero {
    width: 90%;
    background-color: rgba(250, 250, 250, .5);
    box-sizing: border-box;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    /* padding: 1rem 0; */
    margin: 3rem auto 0;
}

.container .main-content .hero #bg{
    /* background-size: cover; */
    width: 100%;
    height: 25rem;
    border-radius: .75rem;
}

.container .main-content .hero #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    width: 90%;
    position: absolute;
    box-sizing: border-box;
    padding: 3rem;
}
.container .main-content .hero #nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616b8;
    opacity: .5;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    /* margin: 0 1rem; */
    transition: all .35s ease-in-out;
}

.container .main-content .hero #nav div:hover{
    background-color: #16161678;
    opacity: 1;
}

.container .services{
    width: 90%;
    margin: 3rem auto 0;
}

h2{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}

.services .card-slider {
    width: 90%;
    margin: 3rem auto 0;
    overflow: hidden; /* hides other cards */
}

.services .card-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container .services .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    min-width: 100%; /* 🔑 only one card at a time */
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.container .services .card .image{
    width: 60%;
    height: 25rem;
}

.container .services .card .image img{
    width: 100%;
    height: 100%;
    border-radius: .375rem 0 0 .375rem;
}

.container .services .card .description{
    width: 40%;
    box-sizing: border-box;
    padding: 2.5rem 4rem;
}

.container .services .card .description #footer{
    opacity: .75;
}


.services .card .badge{
    background-color: #4FD1C5;
    border: none;
    border-radius: 100px;
    font-size: .85rem;
    padding: .25rem 1rem;
    font-weight: 500;
    /* margin: auto 0; */
    margin-top: .5rem;
    line-height: 1.25rem;
    color: #fafafa;
    transition: all .35s ease-in-out;
}
.services .card .badge:hover{
   box-shadow: 0 0 8px #4FD1C5;
}

.services #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    width: 75%;
    position: absolute;
    box-sizing: border-box;
    margin: 0 2.5vw;
    z-index: 1;
}
.services #nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616b8;
    opacity: .5;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    /* margin: 0 1rem; */
    transition: all .35s ease-in-out;
}

.services #nav div:hover{
    background-color: #16161678;
    opacity: 1;
}

.why{
    width: 90%;
    margin-top: 3rem;
}

.why .description{
    /* width: 90%; */
    margin-top: 3rem;
}

.testimonials{
    width: 90%;
    margin-top: 3rem;
}

.testimonials .description{
    /* width: 90%; */
    margin-top: 3rem;
}

.testimonials .description video{
    width: 100%;
    height: 25rem;
}