.container .main-content .hero {
    width: 90%;
    box-sizing: border-box;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    /* padding: 1rem 0; */
    margin: 3rem auto 0;
}

.container .main-content .hero #bg{
    /* background-size: cover; */
    width: 100%;
    height: 25rem;
    border-radius: .75rem;
}

.container .main-content .hero #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    width: 90%;
    position: absolute;
    box-sizing: border-box;
    padding: 3rem;
}
.container .main-content .hero #nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616b8;
    opacity: .5;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
    /* margin: 0 1rem; */
    transition: all .35s ease-in-out;
}

.container .main-content .hero #nav div:hover{
    background-color: #16161678;
    opacity: 1;
}
