.container .navbar{
    background-color: rgba(250, 250, 250, 0.75);
    /* backdrop-filter: blur(10px); */
    width: 84%;
    border-radius: .5rem;
    position: fixed;
    top: 1rem;
    border: none;
    z-index: 1;
}
.container .navbar .collapse{
    box-sizing: border-box;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
}

.container .navbar  .navbar-nav{
    display: flex;
    align-items: center;
}

.container .navbar .navbar-nav h4{
    margin: .25rem;
    margin-bottom: .5rem;
    font-family: "Space Grotesk", sans-serif;
    /* line-height: 1rem; */
}

.container .navbar .navbar-nav .nav-link{
    padding: 0 .5rem;
    color: #102A43;
    font-size: 1rem;
    opacity: .75;
    transition: all .35s ease-in-out;
}

.container .navbar .navbar-nav .nav-link:hover{
    opacity: 1;
    font-weight: 500;
}

.container .navbar .navbar-nav .nav-link.active{
    color: #102A43;
    opacity: 1;
    font-weight: 500;

}